[submodule "volumes/src/sidecar.certbot"]
	path = volumes/src/sidecar.certbot
	url = ../sidecar.certbot.git
[submodule "volumes/src/server.nginx_template"]
	path = volumes/src/server.nginx_template
	url = ../server.nginx_template.git
